@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        background-color: #202020;
    }

    body {
        font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    }

    a {
        font-weight: 500;
        color: rgb(96 165 250);
        text-decoration: inherit;
    }

    a:hover {
        color: rgb(59 130 246);
    }

    h1 {
        font-size: 3.2em;
        line-height: 1.1;
    }

    h2 {
        font-size: 2.5em;
        line-height: 1.1;
    }

    input, select, textarea {
        color: #202020;
        padding: 0 1rem;
        border-radius: .5rem;
        border: #202020 1px solid;
    }
    input, select {
        height: 2.5rem;
    }

    input:focus {
        outline: none;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active{
        -webkit-box-shadow: 0 0 0 30px white inset !important;
    }

}

@layer components {

    .logo-font {
        @apply text-black dark:text-white cursor-pointer text-3xl;
        font-family: 'Courgette', cursive;
    }
    .btn-primary {
        @apply px-8 h-10 bg-blue-500 disabled:bg-gray-500  text-white border-2 border-blue-500 disabled:border-gray-500 font-semibold rounded-lg shadow-md hover:enabled:bg-blue-700 hover:enabled:border-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 transition-all duration-100;
    }
    .btn-secondary {
        @apply btn-primary py-2 px-4 text-blue-400 disabled:text-gray-500 bg-transparent disabled:bg-transparent hover:enabled:border-blue-500 hover:enabled:bg-transparent hover:enabled:text-blue-700 dark:hover:enabled:text-white ;
    }
    .btn-tertiary {
        @apply w-fit cursor-pointer font-medium text-blue-400 disabled:text-gray-500 hover:enabled:text-blue-700 dark:hover:enabled:text-white underline underline-offset-4 decoration-1;
    }
    .btn-big {
        @apply  btn-primary w-full text-2xl font-thin;
    }    
    .btn-icon {
        @apply scale-150 text-slate-500 hover:text-black hover:dark:text-white;
    }

    .txt-n-icon {
        @apply flex items-center gap-2;
    }

    .switch-input {
        @apply  h-8 w-fit px-3 flex justify-between items-center border border-slate-700 rounded-2xl;
    }
    .switch-indicator {
        @apply  absolute origin-center top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full h-4 w-4 bg-blue-400 transition-all duration-150 z-10;
    }
    .switch-input span {
        @apply  absolute origin-center top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full h-4 w-12 bg-slate-300 dark:bg-slate-800;
    }

    .details-card {
        @apply grid gap-4 p-2 font-thin rounded;
    }
    .details-card section {
        @apply border border-slate-300 dark:border-slate-800 rounded px-3 py-2;
    }

    .details-data {
        @apply pl-8 grid grid-cols-3 items-end;
    }
    .details-data p:nth-child(2n -1) {
        @apply text-gray-500 align-text-bottom col-span-1 capitalize text-sm;
    }
    .details-data p:nth-child(2n) {
        @apply col-span-2 text-left capitalize;
    }

    .details-card section:hover .link {
        @apply text-blue-500 dark:text-blue-400;
    }
    .link {
        @apply text-gray-400 dark:text-gray-600;
    }

    .navMenu {
        @apply w-max invisible opacity-0 flex flex-col gap-2 border border-slate-700 rounded-md px-6 py-4 bg-orange-50 dark:bg-slate-900 absolute top-14 right-0;
        transition: visibility 0s .25s, opacity .25s;
    }
    .navMenuOn {
        @apply visible opacity-100;        
        transition: visibility 0s 0s, opacity 0s 0s;
    }
    .navMenu p{
        @apply txt-n-icon cursor-pointer font-thin hover:text-blue-400 transition-colors;
    }
    .navMenu p:last-child {
        @apply hover:text-rose-700 mt-4;
    }

    .panel-opt {
        @apply relative h-8 px-4 py-5 text-lg flex w-full justify-between items-center hover:bg-slate-100 hover:dark:bg-slate-800;
    }

    .full-h {
        min-height: calc(100vh - 16rem);
    }

    .announcement {
        @apply min-h-fit p-1 border  rounded flex items-center gap-1;
    }
    .info {
        @apply border-blue-400  text-blue-500 dark:text-blue-400;
    }
    .warn {
        @apply border-amber-400 dark:border-amber-500 text-amber-500 dark:text-amber-400;
    }
    .danger {
        @apply border-rose-500 text-rose-600  dark:text-rose-400;
    }
    .fix {
        @apply border-emerald-500 text-emerald-600 dark:border-emerald-200 dark:text-emerald-200;
    }
    .default {
        @apply border-slate-400 dark:border-slate-700 text-gray-600 dark:text-gray-400;
    }

    .ellipsis {
        @apply text-ellipsis whitespace-nowrap overflow-hidden;
    }

    .tr {
        @apply grid grid-flow-col ;
    }
    .tr > div {
        @apply relative flex  items-center justify-center w-28 border-r border-b border-slate-700;
        height: calc(3rem + 1px);
    }

    .tc {
        @apply grid grid-flow-row sticky left-0 bg-slate-900 z-20;
    }
    .tc > div {
        @apply align-middle text-center w-44 px-4 pt-2 border-r border-b border-r-slate-400 border-b-slate-600 bg-slate-800/30;
        height: calc(3rem + 1px);
    }
    .tr > div > p {
        @apply py-0 leading-5;
    }
    .tc > div > p {
        @apply pt-1 capitalize;
    }

    .fade-in {
        animation: fadein .3s ease-in forwards;
    }
}


@keyframes fadein {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}